.far-obs-popup {
    width: 180px;
}

.row-top {
    display: flex;
    justify-content: space-evenly;
}

.sheep {
    width: 38px;
}

.background-circle {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: grey;
}

.sheep-and-number {
    text-align: center;
    width: 58px;
    font-size: 2.2em;
}
