body {
  margin: 0;
  font-family: "public-sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --amplify-primary-color: #005914;
  --amplify-primary-tint: #2e8241;
  --amplify-primary-shade: #005914;
}
